//Color Scheme
$white:#FFF;
$isabelline: #ECECEC;
$lightgray: #D1D1D1;
$smokyblack: #0C0910;
$granitegray: #646266;
$quicksilver: #A6A5A8;
$black: black;
$nickel:gray;

//Font Family
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$oldstandardtt: 'Old Standard TT', serif;

//Font Typefaces
$bold : 700;
$regular : 400;
$extra-light: 300;

//Font Sizes
$xxx-large:50px;
$xx-large:30px;
$x-large:20px;
$large:18px;
$medium:16px;
$small:14px;
$x-samll:12px;

// breakspoints
$min-small : 576px; // contenedor de 540
$min-medium : 768px; // contenedor de 720 
$min-large : 1200px;  // contendor de 1140
